.js-two_main-div {
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 27, 27);
    padding: 10rem;
    position: relative;
}

.js-two_h1 {
    font-size: 7rem;
    font-weight: bold;
    color: white;
    margin: 0%;
    padding: 0%;
}

.js-two_h2 {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    margin: 0%;
    padding: 0%;
}

.js-two_p-style {
    font-size: 2rem;
    color: rgb(255, 255, 151);
    margin-top: 0.5rem;
}
