body {
    //__________________________________Color and fonts
    font-family: 'Nunito', sans-serif;
    font-size: 5rem;

    color: blueviolet;
    background-color: black;

    //__________________________________Dimensions
    min-height: 100vh;
    width: auto;

    //__________________________________Other
    position: relative;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
}

footer {
    text-align: center;
    font-size: 1rem;
    color: white;
}

//______________________________________Variables___//
$color-one:             #26ffdb;
$color-two:             #ff5526;
$color-three:           #ff26a5;

//______________________________________General Setup___//
a {
    text-decoration: none;
}
//_________________________________Button___//
.mau-button {
    color: white;
    background-color: $color-two;
    padding: 0.5em 1.25em;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    border: none;
    border-radius: 0.25em;

    transition: transform 200ms ease;
}
.mau-button:hover,
.mau-button:focus {
    transform: scale(1.05);
    color: $color-two;
    background-color: white;
}


@import 'home.scss';
@import 'pages/js-one.scss';
