body {
    //__________________________________Color and fonts
    font-family: 'Nunito', sans-serif;
    font-size: 5rem;

    color: blueviolet;
    background-color: magenta;

    //__________________________________Dimensions
    min-height: 100vh;
    width: auto;

    //__________________________________Other
    position: relative;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
}

footer {
    text-align: center;
    font-size: 1rem;
    color: white;
}

//______________________________________Variables___//
$color-one:             #26ffdb;
$color-two:             #ff5526;
$color-three:           #ff26a5;

@import 'home.scss'
